@using SunriseLabWeb.Helper;
<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/nav-logo.png">

    @*<link href="~/Content/css/mdb.min.css" rel="stylesheet">*@
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link href="~/Content/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <!-- Our Custom CSS -->
    <link href="~/Content/Plugins/toastr/toastr.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/style-grid.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css?version=1.1" rel="stylesheet" />
    <link href="~/Content/css/ag-theme-balham.css" rel="stylesheet" />
    <link href="~/Content/css/style.css?version=1.1" rel="stylesheet" />
    <link href="//cdn.syncfusion.com/17.4.0.46/js/web/flat-azure/ej.web.all.min.css" rel="stylesheet" />
    <link href="17.4.0.46/themes/web/content/default.css" rel="stylesheet" />
    <link href="17.4.0.46/themes/web/content/default-responsive.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    <style>
        .ag-icon-filter {
            color: red !important;
        }

        .loading-overlay {
            display: none;
            background: rgba( 26, 26, 26, 0.7 );
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            top: 0;
        }
        .loading-overlay-stk-uplod {
            display: none;
            background: rgb(26 26 26);
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 9999;
            top: 0;
            left: 0;
        }
        .error {
            color: red;
        }

        .loading-overlay-image-container {
            display: none;
            position: fixed;
            z-index: 99999;
            top: 50%;
            left: 50%;
            transform: translate( -50%, -50% );
        }
        .loading-overlay-image-container-stk-uplod {
            display: none;
            position: fixed;
            z-index: 99999;
            top: 35%;
            left: 50%;
            transform: translate( -50%, -50% );
        }
        .loading-overlay-img {
            width: 50px;
            height: 50px;
            border-radius: 5px;
            /*background-color:#fff;*/
        }

        .loading-overlay-img1 {
            width: 100px;
            height: auto;
            border-radius: 5px;
            /*background-color:#fff;*/
        }

        .loading-overlay-img2 {
            width: 250px;
            height: auto;
            border-radius: 5px;
            /*background-color:#fff;*/
        }

        .loading-overlay-img3 {
            width: 80px;
            height: auto;
            border-radius: 5px;
            /*background-color:#fff;*/
        }
        .loading-overlay-img3-stk-uplod {
            width: 217px;
            height: auto;
            border-radius: 5px;
            background-color: #fff;
        }
        .loading-overlay-img-spinner {
            width: 38px;
            height: auto;
            border-radius: 5px;
            /*background-color:#fff;*/
        }

        .offerrow {
            background-color: #CCFFFF !important; /*lightblue !important;*/
        }

        .upcomingrow {
            background-color: #FFFF99 !important; /*lightyellow !important;*/
        }

        .tcpgopen_bg {
            background-color: #fff2cc !important;
        }

        .multiselect-native-select span {
            font-size: 13px;
        }

        .notify {
            width: 500px !important;
        }

        .dismiss {
            margin-bottom: 1px;
            color: white;
            background-color: #299eec;
            padding: 0px 5px;
            border-radius: 16px;
            font-weight: bold;
            font-size: 12px;
        }

        .skip {
            margin-bottom: 1px;
            color: white;
            background-color: #ef0f0fb8;
            padding: 0px 5px;
            border-radius: 16px;
            font-weight: bold;
            font-size: 12px;
        }

        .dismiss:hover {
            background-color: #066aad;
            cursor: pointer;
        }

        .skip:hover {
            background-color: #bf0202ed;
            cursor: pointer;
        }

        .dropdown-item:active {
            background-color: inherit;
        }

        #div_Alerts_Center::-webkit-scrollbar {
            width: 5px;
        }

        #div_Alerts_Center::-webkit-scrollbar-thumb {
            background-color: #000000;
        }

        .Notify-count {
            color: white;
            background-color: green;
            padding: 1px 5px;
            border-radius: 19px;
            font-size: 11px;
            margin-top: -24px;
            margin-left: -6px;
            margin-right: -12px;
        }

        #content-desktop {
            display: block !important;
        }

        #content-mobile {
            display: none !important;
        }

        @@media screen and (max-width: 1440px) {
            #imgRapnet1 {
                max-width: 61%;
                margin-left: 4px;
            }

            #imgRapnet2 {
                max-width: 70%;
                margin-left: 4px;
            }

            #imgRapnet3 {
                max-width: 80%;
                margin-left: 4px;
            }
        }

        @@media screen and (max-width: 425px) {
            #content-desktop {
                display: none !important;
            }

            #content-mobile {
                display: block !important;
                margin-top: 66px;
                margin-left: -390px;
                margin-bottom: 10px;
            }

            .topbar {
                height: 7.375rem !important;
            }

            #navbar-top {
                margin-top: -45px;
            }

            #imgRapnet1 {
                max-width: 42%;
                margin-top: -48px;
                margin-left: 35px;
            }
        }

        @@media screen and (max-width: 375px) {
            #content-mobile {
                display: block !important;
                margin-top: 66px;
                margin-left: -342px;
                margin-bottom: 10px;
            }
        }

        @@media screen and (max-width: 320px) {
            #content-mobile {
                display: block !important;
                margin-top: 66px;
                margin-left: -285px;
                margin-bottom: 10px;
            }
        }

        .topbar {
            /*height: 4.375rem;*/
            height: 4.500rem;
        }

        #txtCompanyName_suggestion, #_txtCompanyName_suggestion, #___txtCompanyName_suggestion {
            font-size: 11.5px;
        }
    </style>

</head>
<body>
    <div class="loading-overlay"></div>
    <div class="loading-overlay-image-container">
        <img src="~/Content/images/Loader2.gif" class="loading-overlay-img3" />
    </div>
    <div class="loading-overlay-stk-uplod"></div>
    <div class="loading-overlay-image-container-stk-uplod">
        <img src="~/Content/images/loader4.gif" class="loading-overlay-img3-stk-uplod" />
    </div>
    <input type="hidden" id="hdn_UserId" value="@SunriseLabWeb.Helper.SessionFacade.UserSession.UserId" />
    <input type="hidden" id="hdn_UserType" value="@SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId" />
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="~/Content/images/logo.png" class="img-responsive img-one">
                <img src="~/Content/images/nav-logo.png" class="img-responsive img-two">
            </div>
            <div class="sidebar-info">
                <ul class="data">
                    <li class="active">
                        <a href="@Url.Action("Index", "Dashboard")">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            DashBoard
                        </a>
                    </li>
                    @if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("1") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("4"))
                    {
                        <li>
                            <a href="@Url.Action("Manage", "User")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Manage User
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SupplierMas", "User")">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                Supplier Master
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Category", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Category
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SupplierValue", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Supplier Value
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SupplierColumnSetting", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Column Setting From Supplier's Web API & FTP
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SupplierColumnSettingFromFile", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Column Setting From Supplier's File
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SupplierPriceList", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Supplier Price List
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("CustomerPriceList", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                Customer Price List
                            </a>
                        </li>
                        @*<li>
                                <a href="@Url.Action("StockDiscMgt", "User")">
                                    <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                    Stock & Disc Mgt
                                </a>
                            </li>*@
                        <li>
                            <a href="@Url.Action("SupplierStockUpload", "User")">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                Stock Upload From Supplier's File
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("ColumnSetting", "User")">
                                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                                User Wise Column Setting
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("SearchStock", "User")">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Search Stock
                            </a>
                        </li>
                    }
                    else if (SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("2") || SunriseLabWeb.Helper.SessionFacade.UserSession.UserTypeId.Contains("3"))
                    {
                        <li>
                            <a href="@Url.Action("SearchStock", "User")">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                Search Stock
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="contnt @ViewBag.ClassName">
            <nav class="navbar navbar-expand navbar-light bg-white topbar sticky shadow" id="header-nav">
                <button type="button" id="sidebarCollapse" class="btn btn-info custom-toggle">
                    <i class="fa fa-align-left" aria-hidden="true"></i>
                </button>
                <button type="button" id="" class="btn btn-info custom-toggle two">
                    <i class="fa fa-align-left" aria-hidden="true"></i>
                </button>
                <ul class="navbar-nav ml-auto" id="navbar-top">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link custom-toggle dropdown-toggle" href="javascript:void(0);" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle alert" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline">@SessionFacade.UserSession.FirstName @SessionFacade.UserSession.LastName </span>
                            <img class="img-profile rounded-circle" src="~/Content/images/user.png">
                        </a>
                        <div class="dropdown-menu user-drop dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="@Url.Action("Logout","Login")">
                                <i class="fa fa-sign-out mr-2 text-gray-400" aria-hidden="true"></i>
                                Log Out
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>
            @RenderBody()
        </div>
    </div>


    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/Plugins/jqueryUI/jquery-ui.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/underscore-min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/mdb.min.js"></script>
    <script src="~/Content/Plugins/toastr/toastr.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="//cdn.syncfusion.com/js/assets/external/jquery.easing.1.3.min.js"></script>
    <script src="17.4.0.46/scripts/web/jsondata.min.js"></script>
    <script type="text/javascript" src="//cdn.syncfusion.com/17.4.0.46/js/web/ej.web.all.min.js"></script>
    <script src="17.4.0.46/scripts/web/properties.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var IsAlertsCenterOpen = 0;
        var L_d = new Date();
        var L_month = L_d.getMonth()+1;
        var L_day = L_d.getDate();
        var L_curdate = L_d.getFullYear() + '' + (L_month<10 ? '0' : '') + L_month + '' + (L_day<10 ? '0' : '') + '' + L_day + '' + L_d.getHours() + '' + L_d.getMinutes() + '' + L_d.getSeconds();

        $(document).ready(function () {
             $('[data-toggle="tooltip"],[data-toggle="modal"]').tooltip();
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('.contnt').toggleClass('min-content');
            });
            $('.custom-toggle.two').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('.contnt').toggleClass('min-content');
            });
            LoginCheck();
            $('.numberonly').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode;
                    if(String.fromCharCode(charCode).match(/[^0-9]/g))
                return false;
            });
            $('.numberWithDecimalonly').keypress(function (evt) {
                var self = $(this);
                self.val(self.val().replace(/[^0-9\.]/g, ''));
                if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                    evt.preventDefault();
                }
            });
        });
var loaderShow = function () {
    $('.loading-overlay-image-container').show();
    $('.loading-overlay').show();
}
        var loaderShow_stk_upload = function () {
            $('.loading-overlay-image-container-stk-uplod').show();
            $('.loading-overlay-stk-uplod').show();
        }

var loaderHide = function () {
    $('.loading-overlay-image-container').hide();
    $('.loading-overlay').hide();
        }
        var loaderHide_stk_upload = function () {
            $('.loading-overlay-image-container-stk-uplod').hide();
            $('.loading-overlay-stk-uplod').hide();
        }
        function MoveToErrorPage(data_Status) {
            var flag = false;
            data_Status = String(data_Status);

            if (data_Status == "0") {
                flag = true;
            }
            else if (data_Status.toUpperCase() == "FAIL") {
                flag = true;
            }

            if (flag == true) {
                window.location.href = "/Error";
            }
        }
        function GetLoginUrl() {
            return '@Url.Action("Logout","Login")';
        }
        function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, '\\$&');
            var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, ' '));
        }
        function fn60sec() {
            $.ajax({
                url: "/Login/LoginCheck",
                type: "POST",
                data: null,
                success: function (data, textStatus, jqXHR) {
                    if (data != "OK") {
                        window.location.href = "/Login";
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
        function LoginCheck() {
            fn60sec();
            setInterval(fn60sec, 60 * 1000);
        }
        function getContextMenuItems() {
            return [];
        }
        function NullReplace(value) {
            return (value == null ? "" : value);
        }
        function NullReplaceDecimalToFixed(value) {
            return (value != null && value != "" ? parseFloat(value).toFixed(2) : "");
        }
        function NullReplaceDecimal4ToFixed(value) {
            if (!isNaN(parseFloat(value))) {
                return parseFloat(value).toFixed(4);
            }
            else {
                return "";
            }
        }
        //function NullReplaceCommaPointDecimalToFixed(value, digit) {
        //    return (value != null && value != "" ? (parseFloat(value).toFixed(digit)).toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,") : "");
        //}
        function NullReplaceCommaPointDecimalToFixed(number, digit) {
            if (number != "" && number != null) {
                var parts = parseFloat(number).toFixed(digit).toString().split('.');
                var integerPart = parts[0];
                var decimalPart = parts[1] || ''; // Handle the case when there's no decimal part

                // Add commas to the integer part
                var formattedIntegerPart = integerPart.replace(/\B(?=(\d{3})+(?!\d))/g, ",");

                // Combine the formatted integer part and the decimal part
                //var formattedValue = parseFloat(formattedIntegerPart + (decimalPart.length > 0 ? '.' + decimalPart : '')).toFixed(digit);
                var formattedValue = formattedIntegerPart + (decimalPart.length > 0 ? '.' + decimalPart : '');

                return formattedValue;
            }
            else {
                return "";
            }
        }
        function Lab(params) {
            if (params.data.Certificate_No != "") {
                if (params.value == "GIA") {
                    return '<a href="http://www.gia.edu/cs/Satellite?pagename=GST%2FDispatcher&childpagename=GIA%2FPage%2FReportCheck&c=Page&cid=1355954554547&reportno=' + params.data.Certificate_No + '" target="_blank" style="text-decoration: underline; color :blue;">' + params.value + '</a>';
                }
                else if (params.value == "HRD") {
                    return '<a href="https://my.hrdantwerp.com/?id=34&record_number=' + params.data.Certificate_No + '" target="_blank" style="text-decoration: underline; color :blue;">' + params.value + '</a>';
                }
                else if (params.value == "IGI") {
                    return '<a href="https://www.igi.org/reports/verify-your-report?r=' + params.data.Certificate_No + '" target="_blank" style="text-decoration: underline; color :blue;">' + params.value + '</a>';
                }
                else {
                    return params.value;
                }
            }
        }
    </script>
</body>

</html>
